:root{
    --glow-color: #ff9000;
    --background-color: #cfcfcf; 
    --error-color: #ff0000;
}

@font-face {
    font-family: press-start;
    src: url(/resources/press-start.ttf);
}

body{
    font-family: press-start;
    color: black;
    text-shadow: 0px 0px 5px var(--glow-color);
    padding: 10px;
    padding-bottom: 20px;
}

button, input, select{
    outline: none;
    border-radius: 5px;
    padding: 2px;
}
option{
    outline: none;
    border: none;
}

form input[type=submit]{
    background-color: white;
    border-color: white;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

#gridLayout{
    display: grid; 
    grid-template-columns: max-content auto; 
    grid-template-rows: 35px 300px; 
    grid-row-gap: 10px;
    height: max-content; 
    margin: 5px;

    border: none;
}

#gridLayout h1{
    margin: 5px;
    height: 25px;
}

#pokename::after{
    content: attr(count);
    margin-left: 3px;
    color: gray;
}

#marketplace{
    height: 100%;
    overflow: auto;
}

#sell-error{
    font-size: 7px; 
    text-shadow: 0px 0px 5px var(--error-color);
}

.partyGrid{
    display: grid;
    grid-template-columns: 80% 20%;
    justify-items: center;

    width: 100%;
    max-height: 100%;
    overflow: auto;
}

.dash-container{
    border-radius: 5px;
    background-color: var(--background-color);
    padding: 10px;
    margin-right: 0px;

    min-width: 250px;
    width: max-content;

    height: 281px;
    max-height: 100%;
}

.marketContainer{
    width: 90%;
    justify-self: end;
}

.dealContainer{
    display: grid;
    grid-template-columns: 50% 10% 40%;
    grid-template-rows: 20px 15px 24px;
    align-items: center;
    padding: 5px;
    
    border: 1px solid white;
    border-bottom: 0px;
}
.dealContainer:last-child{
    border-bottom: 1px solid white;
}

.dealContainer > p {
    margin: 0px;
    padding: 2px;
}

.nameContainer{
    grid-column: 1;
}

.iconContainer{
    grid-column: 2;
    grid-row: 1 / span 3;
    width: 80px;
    height: 80px;
}

.sellerContainer{
    grid-column: 3;
    justify-self: end;
}

.currencyContainer, .currencyContainer::before{
    grid-column: 1;
    grid-row: 2 / span 3;
    font-size: 15px;
}
.currencyContainer::before{
    content: "$";
}

.buyButton{
    grid-column: 3;
    grid-row: 2 / span 3;
}

.left, .right, #pokename::after{
    align-self: center;
}

.left{
    margin-left: 5px;
    justify-self: start;
}

.right{
    margin-right: 5px;
    justify-self: end;
}