@font-face {
    font-family: press-start;
    src: url('chrome-extension://__MSG_@@extension_id__/resources/press-start.ttf');
}

#overlay-pokecoin-pokemon {
    position: fixed; /* Sit on top of the page content */
    display: block;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 2147483647;
}
#label-pokecoin-pokemon {
    font-family: press-start;
    font-size: 30px;
    color: black;

    position: fixed;
}
#sprite-pokecoin-pokemon {
    position: fixed; /* Sit on top of the page content */
    display: block;
    width: 200px;
    height: 200px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#sprite-pokecoin-pokemon:hover {
    cursor: pointer;
}