:root{
    --create-acc-color: #ff00cc;
    --login-color: #2196F3;
    --glow-color: #ff9000;
    --background-color: #cfcfcf; 
    --error-color: #ff0000;
}

@font-face {
    font-family: press-start;
    src: url(/resources/press-start.ttf);
}

body{
    font-family: press-start;
    color: black;
    text-shadow: 0px 0px 5px var(--glow-color);
    padding: 10px;
    padding-bottom: 20px;

    height: 200px;
    background-color: white;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;

    padding: 2px;
}
label{
    text-align: center;
    margin-bottom: 5px;
}
button, input{
    outline: none;
    border-radius: 5px;
}

hr{
    border: none;
    background-color: black;
    width: 100%;
    height: 1px;
}

#loginGrid{
    height: 75%;

    display: grid; 
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 25px 25px 25px 25px;
    grid-row-gap: 5px;
    align-items: center;
    justify-items: center;
    
    padding-top: 20px;
}

#loginGrid input{
    grid-column: 1 / span 3;
}

.switch{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 17px;
    margin: 0px;

    font-size: 10px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

#loginGrid .switch .slider{
    background-color: var(--create-acc-color);
}

#timer-switch .slider{
    background-color: gray;
}

.slider::before {
    position: absolute;
    content: "";
    height: 75%;
    width: 50%;
    left: 10%;
    bottom: 10%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
#loginGrid .switch input:checked + .slider {
    background-color: var(--login-color);
}   
#timer-switch.switch input:checked + .slider {
    background-color: greenyellow;
}   
.switch input:checked + .slider::before {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
.switch .slider.round {
    border-radius: 1em;
}
.switch .slider.round:before {
    border-radius: 50%;
}

#error{
    text-align: center; 
    font-size: 7px; 
    grid-column: 1 / span 3; 
    text-shadow: 0px 0px 5px var(--error-color);
}

#login-submit{
    background-color: var(--login-color);
    border-color: var(--login-color);

    -webkit-transition: .4s;
    transition: .4s;
}

#main{
    height: 75%;

    display: none;
    grid-template-columns: auto auto;
    grid-template-rows: 25px auto 25px 25px 25px;
    justify-items: center;

    border-radius: 5px;
    background-color: var(--background-color);
    padding: 5px;
}

#main button{
    max-height: 30px;

    background-color: white;
    border-color: white;
    align-self: end;
}

#main button.center{
    grid-column: 1 / span 2;
}

#pokecoin-value::before{
    content: "$";
    word-spacing: -2px;
}

label.title{
    display: block;
    
    font-size: 30px;
    margin-bottom: 15px;
}

label.subtitle{
    font-size: 13px;
}

label.info, label.value {
    font-size: 13px;
}

label.info, #main .left {
    grid-column: 1;
}

label.value, #main .right{
    grid-column: 2;
}

label.left, label.right {
    align-self: center;
}

.left{
    margin-left: 5px;
    justify-self: start;
}

.right{
    margin-right: 5px;
    justify-self: end;
}

.center{
    justify-self: center;
}