body{
    padding: 10px;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
}
label{
    text-align: center;
    margin-bottom: 5px;
}

#loginGrid{
    display: grid; 
    grid-column: 1;
    justify-items: center;
}

#main{
    display: none;
    grid-column: 2;
    justify-items: center;
}

#pokecoin-value::before{
    content: "$";
}

label.title{
    font-size: 30px;
    margin-bottom: 25px;
}

label.subtitle{
    font-size: 20px;
}

label.info, label.value {
    font-size: 10px;
}

label.info{
    grid-column: 1;
    align-self: start;
    justify-self: start;
}

label.value{
    grid-column: 2;
    align-self: end;
    justify-self: end;
}