body{
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
}
label{
    text-align: center;
    font-size: 25px;

    margin-bottom: 15px;
}

#loginGrid{
    display: grid; 
    grid-column: 1;

    margin-left: 15px;
    margin-right: 15px;
    justify-items: center;
}

#main{
    display: none;
    grid-column: 1;

    margin-left: 15px;
    margin-right: 15px;
    justify-items: center;
}

label.info{
    
}